<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Bio-Power | Detalhe Do Produto</title>

    <link
      rel="shortcut icon"
      href="/assets/imgs/img-icon-site.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/assets/css/navbar.css" />
    <link rel="stylesheet" href="/assets/css/screen/produtc-buy-screen.css" />
  </head>

  <body>
    <div class="product-buy-container">
      <div class="product-top">
        <img
          id="product-image"
          class="product-image"
          src="<%= product ? product.imagem : '' %>"
          alt="Produto"
        />

        <div class="product-info">
          <h1 id="product-name" class="product-name"><%= product ? product.nome : '' %></h1>

          <div class="rating" data-rating="4.3">
            <div class="stars" id="product-stars"></div>
            <small id="rating-count">(50 avaliações)</small>
          </div>

          <p class="price-main" id="product-price"><%= product ? product.preco : '' %></p>
          <p class="price-discount" id="product-discount"><%= product ? product.desconto : '' %></p>
          <p class="price-credit" id="product-credit"><%= product ? product.credito : '' %></p>

          <div class="buttons">
            <button class="cart-icon">
              <i class="fa-solid fa-cart-shopping"> </i>
            </button>
            <button id="buy-button">Comprar</button>
          </div>
        </div>
      </div>

      <div class="product-description" id="product-description"></div>
    </div>

    <script>
      // Evita erro de sintaxe no linter inserindo o JSON como string literal
      window.initialProduct = JSON.parse('<%- JSON.stringify(product || null) %>');
    </script>
    <script src="/assets/js/screens/product-buy.js"></script>
    <script src="/assets/js/navbar-script.js"></script>
  </body>
</html>
